<!DOCTYPE HTML>
    <html>
        <head>
            <title>m3sh</title>
            <!--<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
            <!--<link rel ="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
            <script
              src="https://code.jquery.com/jquery-3.2.1.min.js"
              integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
              crossorigin="anonymous"></script>
            <!--<link rel = "stylesheet" href="/stylesheets/main.css">-->
            
            <script src="../public/libraries/three.js"></script>
            <script src="../public/libraries/bendmodifier.js"></script>
            <script src="../public/libraries/convexgeometry.js"></script>
            <script src="../public/libraries/quickhull.js"></script>
            <script src="../public/libraries/leap-0.6.4.min.js"></script>
            
            <script src="../public/structures.js"></script>
            <script src="../public/operators2.js"></script>
            <script src="../public/controller2.js"></script>
            <script src="../public/cameracontroller2.js"></script>
            <script src="../public/leapcontroller.js"></script>
            <!--<script type="text/javascript" src="../private/datastream.js"></script>-->
            
        </head>
            <body>
                