<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <h1 style="text-align: center;">Welcome To The Safety M3SH</h1>
            <div style="width: 30%; margin:30px auto;">
                <div style="width: 30%; margin:30px auto;">
                <div class="form-group">
                        <button class="btn btn-lg btn-primary" href="/3dmodel">Proceed!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>