<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <style>
            
        </style>
    </head>
    <body>
        <div id="container"></div>
        <script>
        
            init();
            
            function init() {
                // setup threejs scene
            }
        </script>
    </body>
</html>